<%= content_for :title, t(".title") %>
<%= content_for :site_name, t(".site_name") %>
<title><%= t ".title" %></title>
<h1><%= t ".title" %></h1>
<p>
  <%= link_to t("about.message"), Settings.links.rails_tutorial.home_page %>
  <%= t("about.part") %>
  <%= link_to t("about.learn"), Settings.links.rails_tutorial.learnenough %>
  <%= t("about.family") %>
  <%= link_to t("about.book"), Settings.links.rails_tutorial.book_page %>
  <%= link_to t("about.screen"), Settings.links.rails_tutorial.screencast %>
  <%= t("about.teach") %>
  <%= link_to t("about.page"), Settings.links.rails_tutorial.about_page %>.
  <%= t("about.sample") %>
</p>
