<%= content_for :title, t(".title") %>
<%= content_for :site_name, t(".site_name") %>
<title><%= t ".title" %></title>
<h1><%= t ".title" %></h1>
<p>

<%= link_to t("about.message"), "http://www.railstutorial.org/" %>
<%= t("about.part") %>
<%= link_to t("about.learn"), "https://www.learnenough.com/" %>
<%= t("about.family") %>
<%= link_to t("about.book"), "https://www.railstutorial.org/book" %>
<%= link_to t("about.screen"), "https://screencasts.railstutorial.org/" %>
<%= t("about.teach") %>
<%= link_to t("about.page"), "https://rubyonrails.org/" %>.
<%= t("about.sample") %>
</p>
