<%= content_for :title, t(".title") %>
<title><%= t ".title" %></title>
<h1><%= t "static_pages.help.title" %></h1>
<p>
<%= t("help.page") %>
<%= link_to t("help.message"), "https://www.railstutorial.org/help" %>.
<%= t("help.sample") %>
<%= link_to t("help.book"), "https://www.railstutorial.org/book" %>.
</p>
