<%= content_for :title, t(".title") %>
<title><%= t ".title" %></title>
<h1><%= t ".title" %></h1>
<p>
<%= t("home.page") %>
<%= link_to t("home.message"), "http://www.railstutorial.org/" %>
<%= t("home.sample") %>
</p>
