<% provide :title, t("login.title") %>
<title><%= t "login.title" %></title>
<h1><%= t "login.title" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>
      <%= f.label :email, t("login.email") %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password, t("login.password") %>
      <%= link_to t("forgot.password"), new_password_reset_path %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t "login.rememberme" %></span>
      <% end %>
      <%= f.submit t("login.title"), class: "btn btn-primary" %>
    <% end %>
    <p>
      <%= t "login.newuser" %>
      <%= link_to t("signup"), signup_path %>
    </p>
  </div>
</div>
