<h1><%= t "forgot.reset.title" %></h1>
<p><%= t "forgot.reset.message" %></p>
<%= link_to t("forgot.reset.password"), edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t "forgot.reset.expire" %></p>
<p><%= t "forgot.reset.ignore" %></p>
