<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("micropost.placeholder") %>
  </div>
  <%= f.submit t("micropost.post"), class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: Settings.files.valid_input %>
  </span>
<% end %>
