<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to t("global.home"), root_path %></li>
        <li><%= link_to t("global.help"), help_path %></li>
        <li><%= link_to t("global.about"), about_path %></li>
      </ul>

      <ul>
        <li><%= link_to "English", root_path(locale: :en) %></li>
        <li><%= link_to "Tiếng Việt", root_path(locale: :vi) %></li>
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
